#logo {
    height: 33px;
    width: 92px;
    margin-left: 10px;
    margin-top: 10px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 83px 18px;
}

#search-bar {
    margin-top: 14px;
    height: 39px;
    width: 655px;
    border-radius: 20px;
    padding-left: 14px;
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B8;
    font-size: 19px;
}

#more-links {
    grid-column: 2/3; 
}

#add-search {
    position: absolute;
    
}

.link-button {
    background-color: white;
    color: Grey;
    border-style: none;
    text-align: center;
    display: inline-block;
    margin-right:10px;
    text-decoration:none;
    font-size: 17px;
}

hr { 
    width: 100%;
}

#results-page {
    display: flex;
    flex-direction: row;
}

.search-result {
    margin-bottom: 25px;
}

.returned-search-results {
    margin-left: 150px;
    width: 650px;
}

p {
    display: block;
    margin-block-start: 0.35em;
    margin-block-end: 0.5em;
    font-size: 14px;
    padding-top: 1px;
    line-height: 1;
}

.search-link {
    font-size: 20px;
    line-height: 01;
    text-decoration: none;
    color: blue;
    margin-bottom: 2px;
    }

.search-link:hover{
    text-decoration: underline;
}

#sub-links{
    margin-left: 20px;
    width: 630px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-container {
    width: 50%;
}

.sub-container p {
    width: 200px;
}

#also-search {
    border-style: solid;
    border-radius: 12px;
    border-width: 1px;
    border-color: #b3b3b3;
}

#also-search h2,h3 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#knowledge-panel {
    height: 650px;
    width: 30%;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #b3b3b3;
    margin-top: 60px;
    margin-left: 30px;
}

#top-level-info{

}

#video-links {
    display: flex;
    flex-direction: row;
}

.video-container {
    border-style: solid;
    border-width: 1px;
    border-color: #b3b3b3;
    width: 32%;
    height: 300px;
    margin-right: 4px;
    border-radius: 6px;
}

.video-container a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.video-container a:hover{
    text-decoration: underline;
}

.video-container p {
    margin-left: 10px;
}

.video-container p:first-of-type {
    margin-top: 60px;
    color: #999999;
}

#related-links {
    width: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rtl-container {
    width: 50%
}

.rtl-container a{
    font-size: 14px;
    line-height: 20px;
    color: blue;
    text-decoration: none;
}

.rtl-container a:hover {
    text-decoration: underline;
}

iframe {
    margin-top: 2px;
    margin-left: 4px;
    width: 95%;
    height: 33%
}